@{
    ViewBag.Title = "Update Record";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="update_form">
    <h3>Update</h3>
    <form method="post" action="">
        <div >
            <input type="hidden" id="txt" name="table_name" value="@ViewBag.TableName"/>
            @if (ViewBag.TableName == "employees")
            {

                //<div class="update_form_cell"><input type="hidden" id="txt" name="Id" value="@ViewBag.Element.Id" /> </div>
                <div class="update_form">
                    <div><p>FIO</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="FIO" value="@ViewBag.Element.FIO" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Phone</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Phone" value="@ViewBag.Element.Phone" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Department</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Department" value="@ViewBag.Element.Department" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Read Books</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Read_books" value="@ViewBag.Element.Read_books" /> </div>
                </div>

            }
            @if (ViewBag.TableName == "buy")
            {
                //<div class="update_form_cell"><input type="hidden" id="txt" name="Id" value="@ViewBag.Element.Id" /> </div>
                <div class="update_form">
                    <div><p>Id employee</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_employee" value="@ViewBag.Element.Id_employee" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Id book</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_book" value="@ViewBag.Element.Id_book" /> </div>
                </div>
                
                
                
            }
            @if (ViewBag.TableName == "reading")
            {
               // <div class="update_form_cell"><input type="hidden" id="txt" name="Id" value="@ViewBag.Element.Id" /> </div>
                <div class="update_form">
                    <div><p>Id book</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_book" value="@ViewBag.Element.Id_book" /> </div>
                    
                </div>
                <div class="update_form">
                    <div><p>Id employee</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_employee" value="@ViewBag.Element.Id_employee" /> </div>
                </div>

                
            }
            @if (ViewBag.TableName == "books")
            {
                //<div class="update_form_cell"><input type="hidden" id="txt" name="Id" value="@ViewBag.Element.Id" /> </div>
                <div class="update_form">
                    <div><p>Book title</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Book_title" value="@ViewBag.Element.Book_title" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Short description</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Short_description" value="@ViewBag.Element.Short_description" /> </div>
                    
                </div>
                <div class="update_form">
                    <div><p>Number copies</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Number_copies" value="@ViewBag.Element.Number_copies" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Number copies</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="How_many" value="@ViewBag.Element.How_many_times" /> </div>
                </div>
            }
            @if (ViewBag.TableName == "issued")
            {
                //<div class="update_form_cell"><input type="hidden" id="txt" name="Id" value="@ViewBag.Element.Id" /> </div>
                <div class="update_form">
                    <div><p>Id book</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_book" value="@ViewBag.Element.Id_book" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Id employee</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Id_employee" value="@ViewBag.Element.Id_employee" /> </div>
                </div>
                <div class="update_form">
                    <div><p>Deadline</p></div>
                    <div class="update_form_cell"><input type="text" id="txt" name="Deadline" value="@ViewBag.Element.Deadline" /> </div>
                </div>
            }
            <div class="update_form">
                <div class="update_form_cell"><p></p></div>
                <div class="update_form_button"><input type="submit" id="txt" name="apply" value="Применить" /></div>
            </div>
            
        </div>
    </form>
</div>